
h1 {
  font-family: monaco;
  color: #ffcc66;
    opacity: 1;
  border-style: dotted;
  width: 140px;
}
h2 {
  font-family: cursive;
  border-style: dotted;
  width: 80px;
  color: #F2A47A;
  opacity: 1;
}
li {
  font-family: papyrus;
    color: #ffcc66;
    opacity: 1;
}
p {
  font-family: papyrus;
  color: #F2A47A;
  opacity: 1;
}
body {
  background-color: #ffffe6;
}

/* Flexible images */

img {
  max-width: 100%;
  height: auto;
}
