
h1 {
  font-family: monaco;
}
h2 {
  font-family: cursive;
}
ol {
  font-family: Helvetica
    font-size: 4em; /*16px=1em*/
    color: red
}
p {
  font-family: papyrus;
}

/* Flexible images */

img {
  max-width: 100%;
  height: auto;
}
