
h1 {
  font-family: monaco;
  color: green;
    opacity: 1;
  border-style: dotted;
}
h2 {
  font-family: cursive;
  border-style: bottom-border;
  color: green;
  opacity: 1;
}
li {
  font-family: Helvetica;
    font-size: 4em; /*16px=1em*/
    color: green;
    opacity: 1;
}
p {
  font-family: papyrus;
  color: green;
  opacity: 1;
}

/* Flexible images */

img {
  max-width: 100%;
  height: auto;
}
